body {
  background-color: #013338;
  margin-top: 0px;
}

.container {
  background-color: #fff;
  max-width: 1400px;
  margin: 0 auto;
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../media/heroImage.jpg);
  background-repeat: no-repeat;
  display: block;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.hero h1 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  margin: 0;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  padding-bottom: 5%;
}
.hero h3 {
  font-family: "Poppins", sans-serif;
  margin-top: 0;
  padding-top: 5%;
}

.why {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.why h1 {
  font-family: "Poppins", sans-serif;
  color: #013338;
}
p {
  font-family: "Poppins", sans-serif;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 5px;
}

th {
  max-width: 350px;
}

.table-pics {
  filter: contrast(99%);
  border-radius: 3px;
}
.img-responsive {
  max-width: 100%;
  display: block;
}

tr {
  font-family: "Poppins", sans-serif;
}

.restaurants {
  background-color: #d8d8d8;
}

.restaurants h1 {
  font-family: "Poppins", sans-serif;
  color: #013338;
  text-align: center;
  padding-top: 5%;
}

.grid-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.card {
  background-color: #fff;
  margin-bottom: 10%;
}

.title {
  text-align: center;
  font-style: italic;
  font-weight: 800;
  background-color: #fe8c90;
}
.card-body h2 {
  font-family: "Poppins", sans-serif;
  color: #013338;
  padding-left: 5%;
  padding-right: 5%;
}

.p-card {
  opacity: 0.7;
  font-size: 16px;
  padding-left: 5%;
  padding-right: 5%;
}

.btn {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin: 5%;
  padding: 5px;
  background-color: #013338;
  text-decoration: none;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
}

a:hover {
  color: #013338;
  background-color: #fe8c90;
}

.grid-embed {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-left: 5%;
  margin-right: 5%;
}

.insta-box h1 {
  font-family: "Poppins", sans-serif;
  color: #013338;
  text-align: center;
  padding-top: 5%;
}

footer {
  background-color: #fe8c90;
  color: #013338;
  text-align: center;
  margin-top: 5%;
  padding: 20px;
}
